
/* This is universal rule */
* {
	font-size: 50px;
}




#greetings {
	font-size: 1rem;
}

#batch {
	font-size: 25px;
}

#batch > p {
	font-size: 1em;
}

#student {
	font-size: 100px;
}

#student > p {
	font-size: 100%;
}