/*
	Syntax of using CSS rules:

	selector {
		property: value;
	}
*/

/* Universal Selector */
/* It targets all the elements in our webpage. */
*{
	/* font-family property changes the style of the font */
	font-family:"Courier New", monospace;
	/* font-size will change the size of the text */
	font-size: 20px;
}


/* Type Selector* /
/* tag-name */
h1 {
	color: yellow;
}


/* ID Selector */
/* IT targets only one element. */
#zuitt-motto {
	/* The letter-spacing property changes the spaces between the characters within a text. */
	letter-spacing: 5px;
}

/* Class Selector */
/* .class-name */
.offering-item {
	/* text-transform property changes the font to a certain case */
	/* Uppercase value changes the text to all capital letters. */
	text-transform: uppercase;
}

/* Attribute selector */
/* [attribute] */

[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/* Adjacent sibling selector */
/* element-for-reference + target+element */
h3 + img {
	/* height property changes vertical dimensions of an element */
	height: 300px;
	/* width property changes the horizontal dimensions of an element. */
	width: 300px;
	border-radius: 150px;
}

/* Descendants selector */
/* element-for-reference target-element */
#bootcamp-learning-list {
	color: #4287f5;
}

/* General Sibling Selector */
h2 ~ a{
	/* text-decoration property it changes lines included in text. Example: overline, underline and strike */
	/*none value will remove the underline from our anchor tag*/
	text-decoration: none;
}

/* Child selector */
body > section > form > label {
	color: rgb(66, 135, 245);
}

body {
	background-color: skyblue;
}

section {
	/* vh - viewport height */
	height: 100vh;
	text-align: center;
}

html {
	/* scroll-behavior - this is the property that changes the scrolling behaviour when clicking anchor tags */
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/* psuedo */
a:hover {
	background-color: #42edaf;
}

div {
	display: inline;
	/* float property changes the horizontal alignment of an element to float either to the left or right of its container or div */
	float: right;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
	/* Position property changes the position of an element based on a certain criteria */
	position: relative;
	left: 37.5%;
}

button {
	background-color: #4254f5;
	color: white;
	border: 0;
	border-radius: 15px;
}