/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Added google font open sans */
body {
	font-family: 'Open Sans', sans-serif;
	
}

/* Navbar */
nav {
	padding: 15px;
	position: sticky;
	top: 0;
	background-color: white;

}
.nav {
	position: sticky;
	float: left;
	display: inline;
	padding: 20px;
	font-weight: bolder;
}

.right-nav {
	position: sticky;
	float: right;
	display: block;
	text-align: center;
	margin-right: 100px;

}

.nav-logo {
	position: sticky;
	display: inline-block;
	height: 5vh;
	margin-top: 20px;
	margin-left: 200px;

}

/* Apply now button navbar */
.tuitt-button {
	background-color: #c2195b;
	color: white;
	border-radius: 30px;
	width: 100px;
	height: 30px;
	border-style: none;
	margin-right: 50px;

}


/* Landing page */
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	display: inline-block;
	margin-top: 10px;
	min-width: 100vw;
	
}

.container {
	color: white;
	text-align: right;
	margin: 0;
	line-height: 4rem;


}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;

}


.title {
	font-family: 'Zilla Slab', sans-serif;
	color: white;
	text-align: right;
	font-size: 4em;
	position: relative;
	font-weight: bolder;
	padding-right: 20vh;
	padding-left: 90vh;
	display: block;
	
}


.subtitle {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: right;
	font-size: 1.5em;
	position: relative;
	padding-right: 20vh;
	padding-left: 120vh;
	padding-top: 1.25%;
	padding-bottom: 1%;
	line-height: 30px;

	
}


.apply-button {
	background-color: #c2195b;
	color: white;
	border-radius: 30px;
	width: 150px;
	height: 40px;
	border-style: none;
	margin-right: 20vh;
	font-size: 1.5em;


}


/* Intro */

.title-2 {
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
	font-weight: bolder;
	padding-bottom: 1.5%;


}

.intro-description {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 1.5%;
}

/* pre-footer section */

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	width: 100%;
	

}

.prefooter-description {
	padding-bottom: 1.5%;

}

.book-button {
	background-color: #336589;
	color: white;
	border-radius: 30px;
	width: 150px;
	height: 30px;
	border-style: none;

}

.pre-footer {
	height: 300px;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	padding-bottom: 15%;

}


footer {
	text-align: center;

}

span {
	padding: 15px;
}


