#external-styling {
	color: yellow;
}

*{
	font-family: sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 50px;
}

#thigs-to-learn {
	text-transform: uppercase;
}

.languages {
	background-color: palegreen;
}


[value] {
	border: solid;
	border-color: lightblue;
}

img + ul {
	list-style-type: none;
}

#js-logo {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

h2 ~ p {
	text-align: center;

}

body > ul > li {
	letter-spacing: 10px;
}




